/* Importar estilos de Google Fonts */
/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Simbolos*/
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_circle_up');

/* Reset */
*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML */
html, input, button, textarea, select
{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    color: #707070;
    scroll-behavior: smooth;
}

/* CLASES GLOBALES Y GENERICAS */
.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgImg, *::before, *::after
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fullSize, *::before, *::after
{
    width: 100%;
    height: 100%;
}

.transition, *::before{transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, filter 0.2s ease;}

.flexColumn{flex-direction: column;}

/* - - - - - - - - - - FONDO DE PÁGINAS - - - - - - - - - - */
@keyframes cube 
{
    from
    {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to
    {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #ffffff;
    overflow: hidden;
    z-index: -1;
}

.background li
{
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #eeeef0;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}

undefined
.background li:nth-child(0)
{
    animation-delay: 0s;
    left: 81vw;
    top: 92vh;
    border-color: #ffffff;
}

.background li:nth-child(1)
{
    animation-delay: 2s;
    left: 31vw;
    top: 64vh;
}

.background li:nth-child(2)
{
    animation-delay: 4s;
    left: 3vw;
    top: 15vh;
}

.background li:nth-child(3)
{
    animation-delay: 6s;
    left: 65vw;
    top: 24vh;
}

.background li:nth-child(4)
{
    animation-delay: 8s;
    left: 48vw;
    top: 72vh;
}

.background li:nth-child(5)
{
    animation-delay: 10s;
    left: 96vw;
    top: 40vh;
    border-color: #ffffff;
}